@tailwind base;
@tailwind components;
@tailwind utilities;


.prev{
    width: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1px;
}
.next{
    width: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 27px;
}